Source: ONEM
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@ONEM.org>
Uploaders: Holger Schinzel <holger@ONEM.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.ONEM.org/
Vcs-Git: git://github.com/ONEMpay/ONEM.git
Vcs-Browser: https://github.com/ONEMpay/ONEM

Package: ONEMd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 ONEM is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. ONEM uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ONEM Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, ONEMd, and the CLI tool
 ONEM-cli to interact with the daemon.

Package: ONEM-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 ONEM is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. ONEM uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ONEM Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides ONEM-Qt, a GUI for ONEM based on Qt.

Package: ONEM-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 ONEM is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. ONEM uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. ONEM Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides ONEM-tx, a command-line transaction creation
 tool which can be used without a ONEM daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
